<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<!-- //-EJS is seeing the folders so we don't have to point them out, just the folders/files within it -->
<link rel="stylesheet" href="css/style.css">