<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %> 
</head>
<body>
    <section class="container">
        <%- include("partials/navbar.ejs") %>
        <article class="content">
            <% if(registered){ %>
                <h1>POST CREATED SUCCESSFULLY!</h1>
                <br>
            <% } %>
            <h1>Post Creation:</h1>
            <form action="/save-post" method="post">
                <div>
                    <label>Post's Title</label>
                    <input name="title" type="text" placeholder="Type title">
                </div>
                <div>
                    <textarea name="text"></textarea>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </article>
    </section>
    <footer class="footer">
        <%- include("partials/footer.ejs") %> 
    </footer>
</body>
</html>