<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %> 
</head>
<body>
    <section class="container">
        <%- include("partials/navbar.ejs") %>
        <h1>POSTS!</h1>
    </section>
    <%- include("partials/footer.ejs") %> 
</body>
</html>